.root {
    -fx-background-color: white;
}

#chatPane {
    -fx-text-fill: 	#000000;
}

.userInfo {
    -fx-text-fill: #1E90FF;
    -fx-background-color: #1E90FF;
}

.label{
    -fx-text-fill: white;
}